{
    "name": "Apollo Framework",
    "version": "1.0.0-alpha",
    "description": "Modular PHP Framework",
    "timezone": "UTC",
    "locale": "en",
    "apps": [
        "users",
        "products"
    ],
    "providers": [
        "Apollo\\Core\\Providers\\DatabaseServiceProvider",
        "Apollo\\Core\\Providers\\RouterServiceProvider"
    ]
}
